body {
    background-color: #fff;
    overflow-x: hidden !important;

}

html{
	overflow-x: hidden;
}

.titel{
    font-size: 1.5em;
    font-family: Venti CF;
    font-weight: bold
}

p{
    color: black;
}


/*////////////////////////////
/////// NAVBAR ////////////
////////////////////////////*/
.navbar{
    min-height: 70px;
}

.navbar-default{
    background-color: white;
    /*border-bottom: 1px solid red;*/
}

.navbar-toggle {
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    border: none;
}

button.navbar-toggle:hover {
    background: none;
}

.navbar-collapse{
    background: white;
    height: 25vh;
}

.navbar-collapse a{
    font-weight: 700;
    font-size: 13px;
    display: block;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #858585;
    text-align: left;
    font-family: Inconsolata,monospace;
}

.navbar-brand>img{
    height: 2em;
    margin-top: -5px;
}

/*////////////////////////////
/////// Einde NAVBAR ////////////
////////////////////////////*/


/*////////////////////////////
/////// SURVEY JS ////////////
////////////////////////////*/

.my-rating {
    font-size: 12px;
}

.add_button{
    position: fixed;
    bottom: 55px;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    color: white;
    border-radius: 10px;
    font-family: "Venti";
    background: black;
    border: none;
    -webkit-box-shadow: 0px 6px 18px -2px rgba(166,166,166,1);
    -moz-box-shadow: 0px 6px 18px -2px rgba(166,166,166,1);
    box-shadow: 0px 6px 18px -2px rgba(166,166,166,1);

}

.add_button:before {
    font-family: FontAwesome;
    content: "\f0fe";
    margin-right: 0.5em
}

.add_button:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 55%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 15px black;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.panel-body {
    padding: 0px;
}

 h5{
    font-family: Inconsolata,monospace;
}

.form-control{
    display: block;
    width: 100%;
    border: none;
    background: 0 0;
    border-bottom: 2px solid #000;
    font-weight: 700;
    color: #373737;
    padding: 12px 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0px;
    transition: none;
}

.form-control:input{
    font-size: 12px;
}

.form-control:focus{
    display: block;
    width: 100%;
    border: none;
    background: 0 0;
    border-bottom: 2px solid #000;
    font-weight: 700;
    color: #373737;
    padding: 12px 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0px;
    transition: none;

}



.btn{
    display: inline-block;
    height: 47px;
    border: 1px solid #fff;
    background-color: #ff4c43;
    color: #fff;
    border-radius: 0px;
    font-family: Inconsolata,monospace;
    font-weight: 700;
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    /*letter-spacing: 0.5px;*/
    text-decoration: none;
    padding-right: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;

}

.panel-footer{
    margin-top: 5vh;
    background-color: white !important;

}

/*////////////////////////////
/////// Einde SURVEY JS ////////////
////////////////////////////*/





@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata-bold.woff2') format('woff2'),
         url('fonts/inconsolata-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Venti';
    src: url('fonts/venti-cf-bold.woff2') format('woff2'),
         url('fonts/venti-cf-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'venti_cfdemi_bold';
    src: url('fonts/venti-cf-demi-bold.woff2') format('woff2'),
         url('fonts/venti-cf-demi-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'venti_cfextra_bold';
    src: url('fonts/venti-cf-extra-bold.woff2') format('woff2'),
         url('fonts/venti-cf-extra-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}